<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paystic</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="/favicon (1).ico" type="image/x-icon">
</head>
<body>
    <div class="home">
        <div class="title">
          <h1>Reducing Plastic Contamination (☞ﾟヮﾟ)☞</h1>
        </div>
        <p class="subtitle">
          Reduce plastic conatmination and save our planet. Scan your waste and see what thrash bin to dispose it in ☺
        </p>
        <div class="cta">
          <a href="/scan"><button class="cta-explore">Scan</button></a>
        </div>
    </div>
</body>
</html>